<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="/static/style.css"/>
    <meta charset="utf-8">
    <title>Conference Rooms</title>
  </head>
  <body>
    <h3>Conference Rooms</h3>
    <p>Find the conference room or an employee you are looking for on a map</p>

    <form class="" action="index.html" method="post">
      <label>Conference room:</label>
      <input type="search" name="" value="">
      <input type="submit" name=""><br></br>
    </form>
  </body>
</html>
